.content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 560px){
  .scores, .weather{
    width:50%;
  }
}

@media screen and (min-width: 660px){
  .hero{
    width:60%;
  }
  .top-news{
    width:40%;
}

@media screen and (min-width: 800px){
  .content{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
